html, 
body{
    height: 100%;
    background-color: rgb(4, 4, 51) !important;
}

.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(26, 238, 18);
}

.login-form{
    width: 380px;
    height: 450px;
    padding: 30px;
    background-color: aquamarine !important;
    border-radius: 10px;
}

input[type="email"],
input[type="password"]{
    background: rgb(2, 90, 90);
    color: #fff;
    border: 2px solid #00ff00;
    border-radius: 10px;
    margin-bottom: 25px;

}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    background: rgb(2, 90, 90);
    color: #fff;
    margin: 0;
}

.card-title {
    font-weight: 900;
    padding-top: 20px;
}

.btn {
    background: #00ff00 !important;
    color: black !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;

}